﻿<div class="container divhome">
    @using (Html.BeginForm())
    {
    <form>
        <div class="form-group">
            <label for="identificador">Identificador:</label>
            <input type="text" class="form-control" id="identificador" name="identificador">
        </div>
        <div class="form-group">
            <label for="tempoExecucao">Tempo de Execução:</label>
            <input type="text" class="form-control" id="tempo" name="tempo">
        </div>
        <div class="form-group">
            <label for="custoPorHora">Custo por Hora:</label>
            <input type="text" class="form-control" id="custo" name="custo">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Carregar dados</button>
        </div>
    </form>
    }
</div>